In [33]:
import pandas as pd

# Try a different encoding
try:
    data = pd.read_csv("h1b_disclosure_data_2015_2019.csv", encoding='latin-1')
except Exception as e:
    print(f"An error occurred: {e}")
else:
    df = pd.DataFrame(data)

In [34]:
df.shape

(857216, 13)

In [35]:
df

,CASE_NUMBER,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,SOC_CODE,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,WORKSITE_CITY,WORKSITE_STATE_ABB,YEAR,WORKSITE_STATE_FULL,WORKSITE
0,I-200-09285-514415,CERTIFIED,IT CATS LLC,COMPUTER SYSTEMS ANALYSTS,15-1121,SENIOR BUSINESS ANALYST,Y,109116.8,"NORTH WALES,",PA,2015,PENNSYLVANIA,"NORTH WALES, PENNSYLVANIA"
1,I-200-09341-564186,CERTIFIED-WITHDRAWN,"XPERT TECHNOLOGIES, INC.","COMPUTER OCCUPATIONS, ALL OTHER*",15-1799,QUALITY ASSURANCE ANALYST,Y,58282.0,CAMP HILL,PA,2015,PENNSYLVANIA,"CAMP HILL, PENNSYLVANIA"
2,I-200-09342-274341,CERTIFIED,"ISR INFO WAY, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",15-1132,SR. SOFTWARE DEVELOPER,Y,84906.0,CHICAGO,IL,2015,ILLINOIS,"CHICAGO, ILLINOIS"
3,I-200-09364-425868,CERTIFIED,MAGIC CIRCLE FILMS INTERNATIONAL LLC,FILM AND VIDEO EDITORS,27-4032,VIDEO EDITOR,Y,39333.0,AUBURN,NY,2015,NEW YORK,"AUBURN, NEW YORK"
4,I-200-10006-413683,WITHDRAWN,SAPHIRE SOLUTIONS INC,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,15-1142,SYSTEMS ADMINISTRATOR,Y,68638.0,BETHPAGE,NY,2015,NEW YORK,"BETHPAGE, NEW YORK"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857211,I-200-19053-522403,CERTIFIED,JETBLUE AIRWAYS,TRANSPORTATION INSPECTORS,53-6051,SENIOR INVESTIGATOR AIR SAFETY,Y,74152.0,Long Island City,NEWYORK,2019,NEW YORK,"Long Island City, NEW YORK"
857212,I-200-18282-647333,CERTIFIED,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,15-2031,OPERATIONS RESEARCH ANALYSTS,DIGITAL TOUCHPOINTS ANALYST,Y,75733.0,MADISON,WI,2019,WISCONSIN,"MADISON, WISCONSIN"
857213,I-200-19046-203745,DENIED,CAPGEMINI AMERICA INC,NaN,NaN,APPLICATIONS CONSULTANT 2,Y,80704.0,DEARBORN,MICHIGAN,2019,MICHIGAN,"DEARBORN, MICHIGAN"
857214,I-200-19059-900658,DENIED,CAPGEMINI AMERICA INC,NaN,NaN,BUSINESS SYSTEMS ANALYST 2,Y,74443.0,NEW YORK,NEWYORK,2019,NEW YORK,"NEW YORK, NEW YORK"
857215,I-200-19073-908844,DENIED,CAPGEMINI AMERICA INC,NaN,NaN,BUSINESS SYSTEMS ANALYST 2,Y,66643.0,MADISON,WISCONSIN,2019,WISCONSIN,"MADISON, WISCONSIN"

In [36]:
# Identify the row with the specified CASE_NUMBER
row_index = df[df['CASE_NUMBER'] == 'I-200-18282-647333'].index[0]

# Swap SOC_NAME and SOC_CODE for the specified row
df.loc[row_index, ['SOC_NAME', 'SOC_CODE']] = df.loc[row_index, ['SOC_CODE', 'SOC_NAME']].values

In [37]:
df

,CASE_NUMBER,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,SOC_CODE,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,WORKSITE_CITY,WORKSITE_STATE_ABB,YEAR,WORKSITE_STATE_FULL,WORKSITE
0,I-200-09285-514415,CERTIFIED,IT CATS LLC,COMPUTER SYSTEMS ANALYSTS,15-1121,SENIOR BUSINESS ANALYST,Y,109116.8,"NORTH WALES,",PA,2015,PENNSYLVANIA,"NORTH WALES, PENNSYLVANIA"
1,I-200-09341-564186,CERTIFIED-WITHDRAWN,"XPERT TECHNOLOGIES, INC.","COMPUTER OCCUPATIONS, ALL OTHER*",15-1799,QUALITY ASSURANCE ANALYST,Y,58282.0,CAMP HILL,PA,2015,PENNSYLVANIA,"CAMP HILL, PENNSYLVANIA"
2,I-200-09342-274341,CERTIFIED,"ISR INFO WAY, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",15-1132,SR. SOFTWARE DEVELOPER,Y,84906.0,CHICAGO,IL,2015,ILLINOIS,"CHICAGO, ILLINOIS"
3,I-200-09364-425868,CERTIFIED,MAGIC CIRCLE FILMS INTERNATIONAL LLC,FILM AND VIDEO EDITORS,27-4032,VIDEO EDITOR,Y,39333.0,AUBURN,NY,2015,NEW YORK,"AUBURN, NEW YORK"
4,I-200-10006-413683,WITHDRAWN,SAPHIRE SOLUTIONS INC,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,15-1142,SYSTEMS ADMINISTRATOR,Y,68638.0,BETHPAGE,NY,2015,NEW YORK,"BETHPAGE, NEW YORK"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857211,I-200-19053-522403,CERTIFIED,JETBLUE AIRWAYS,TRANSPORTATION INSPECTORS,53-6051,SENIOR INVESTIGATOR AIR SAFETY,Y,74152.0,Long Island City,NEWYORK,2019,NEW YORK,"Long Island City, NEW YORK"
857212,I-200-18282-647333,CERTIFIED,AMERICAN FAMILY MUTUAL INSURANCE COMPANY,OPERATIONS RESEARCH ANALYSTS,15-2031,DIGITAL TOUCHPOINTS ANALYST,Y,75733.0,MADISON,WI,2019,WISCONSIN,"MADISON, WISCONSIN"
857213,I-200-19046-203745,DENIED,CAPGEMINI AMERICA INC,NaN,NaN,APPLICATIONS CONSULTANT 2,Y,80704.0,DEARBORN,MICHIGAN,2019,MICHIGAN,"DEARBORN, MICHIGAN"
857214,I-200-19059-900658,DENIED,CAPGEMINI AMERICA INC,NaN,NaN,BUSINESS SYSTEMS ANALYST 2,Y,74443.0,NEW YORK,NEWYORK,2019,NEW YORK,"NEW YORK, NEW YORK"
857215,I-200-19073-908844,DENIED,CAPGEMINI AMERICA INC,NaN,NaN,BUSINESS SYSTEMS ANALYST 2,Y,66643.0,MADISON,WISCONSIN,2019,WISCONSIN,"MADISON, WISCONSIN"

In [38]:
null_count_per_column = df.isnull().sum()  # Count of null values in each column
print("\nNumber of null values per column:")
print(null_count_per_column)

Number of null values per column:
CASE_NUMBER             0
CASE_STATUS             0
EMPLOYER_NAME          21
SOC_NAME                6
SOC_CODE                4
JOB_TITLE               5
FULL_TIME_POSITION      1
PREVAILING_WAGE         4
WORKSITE_CITY          28
WORKSITE_STATE_ABB      0
YEAR                    0
WORKSITE_STATE_FULL     0
WORKSITE                0
dtype: int64

In [39]:
df = df.dropna(subset=['EMPLOYER_NAME', 'WORKSITE_CITY','SOC_NAME','JOB_TITLE','FULL_TIME_POSITION','PREVAILING_WAGE'])

In [40]:
null_count_per_column = df.isnull().sum()  # Count of null values in each column
print("\nNumber of null values per column:")
print(null_count_per_column)

Number of null values per column:
CASE_NUMBER            0
CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
SOC_CODE               0
JOB_TITLE              0
FULL_TIME_POSITION     0
PREVAILING_WAGE        0
WORKSITE_CITY          0
WORKSITE_STATE_ABB     0
YEAR                   0
WORKSITE_STATE_FULL    0
WORKSITE               0
dtype: int64

In [41]:
df = df.drop(columns="WORKSITE")

In [43]:
df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'SOC_CODE',
       'JOB_TITLE', 'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'WORKSITE_CITY',
       'WORKSITE_STATE_ABB', 'YEAR', 'WORKSITE_STATE_FULL'],
      dtype='object')

In [44]:
df.shape

(857155, 12)

In [49]:
# Remove comma and everything after it in each SOC_NAME value
df['SOC_NAME'] = df['SOC_NAME'].str.split(',').str[0]

In [50]:
print(df['SOC_NAME'].value_counts())

SOC_NAME
SOFTWARE DEVELOPERS                                 200433
COMPUTER SYSTEMS ANALYSTS                           108499
COMPUTER PROGRAMMERS                                 67754
COMPUTER OCCUPATIONS                                 67433
FINANCIAL ANALYSTS                                   26032
                                                     ...
PATHOLOGISTS                                             1
FAMILY PRACTICE PHYSICIAN                                1
COMMODITIES                                              1
SECURITIES COMMODITIES FIN SERVICES SALES AGENTS         1
FOOD BATCHMAKERS                                         1
Name: count, Length: 858, dtype: int64

In [45]:
###### EDA ##########

In [46]:
# Display basic information about the dataset
print("Basic information about the dataset:")
print(df.info())

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 857155 entries, 0 to 857212
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CASE_NUMBER          857155 non-null  object
 1   CASE_STATUS          857155 non-null  object
 2   EMPLOYER_NAME        857155 non-null  object
 3   SOC_NAME             857155 non-null  object
 4   SOC_CODE             857155 non-null  object
 5   JOB_TITLE            857155 non-null  object
 6   FULL_TIME_POSITION   857155 non-null  object
 7   PREVAILING_WAGE      857155 non-null  float64
 8   WORKSITE_CITY        857155 non-null  object
 9   WORKSITE_STATE_ABB   857155 non-null  object
 10  YEAR                 857155 non-null  int64
 11  WORKSITE_STATE_FULL  857155 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 85.0+ MB
None

In [47]:
# Display summary statistics for numerical columns
print("\nSummary statistics for numerical columns:")
print(df.describe())

Summary statistics for numerical columns:
       PREVAILING_WAGE           YEAR
count     8.571550e+05  857155.000000
mean      9.540225e+04    2016.997747
std       1.755548e+06       1.404448
min       0.000000e+00    2015.000000
25%       5.851000e+04    2016.000000
50%       7.032500e+04    2017.000000
75%       8.636200e+04    2018.000000
max       2.977853e+08    2019.000000

In [48]:

# Perform value counts for categorical columns
print("\nValue counts for categorical columns:")
for column in df.select_dtypes(include=['object']):
    print("\nColumn:", column)
    print(df[column].value_counts())

Value counts for categorical columns:

Column: CASE_NUMBER
CASE_NUMBER
I-200-15054-406343    4
I-200-15054-997013    3
I-200-15155-822655    2
I-200-17164-423890    2
I-200-15078-889230    2
                     ..
I-200-15351-256019    1
I-200-15351-271770    1
I-200-15351-280760    1
I-200-15351-283671    1
I-200-18282-647333    1
Name: count, Length: 839385, dtype: int64

Column: CASE_STATUS
CASE_STATUS
CERTIFIED              765069
CERTIFIED-WITHDRAWN     53044
WITHDRAWN               27289
DENIED                  11753
Name: count, dtype: int64

Column: EMPLOYER_NAME
EMPLOYER_NAME
INFOSYS LIMITED                                     23802
TATA CONSULTANCY SERVICES LIMITED                   23775
DELOITTE CONSULTING LLP                             18578
CAPGEMINI AMERICA INC                               16495
ACCENTURE LLP                                       11473
                                                    ...
REHABILITATION MASTER, PC                               1
ORTHOPEDIC PHYSICAL THERAPY & REHABILITATION LLC        1
SHAHID MIAN M.D. PC                                     1
DREISER PHYSICAL THERAPY& REHABILITATION .P.C.          1
TOKYO ELECTRON AMERICA, INC                             1
Name: count, Length: 70041, dtype: int64

Column: SOC_NAME
SOC_NAME
SOFTWARE DEVELOPERS, APPLICATIONS        172812
COMPUTER SYSTEMS ANALYSTS                108151
COMPUTER PROGRAMMERS                      67649
COMPUTER OCCUPATIONS, ALL OTHER           67303
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE     26059
                                          ...
17-2141                                       1
FAMILY PRACTICE PHYSICIAN                     1
PATHOLOGISTS                                  1
SOFTWARE DVELOPERS, APPLICATIONS              1
DOCUMENT MANAGEMENT SPECIALISTS               1
Name: count, Length: 1105, dtype: int64

Column: SOC_CODE
SOC_CODE
15-1132       173010
15-1121       128238
15-1199        71349
15-1131        68158
15-1133        26070
               ...
29-1027.00         1
29-1096            1
19-3041.00         1
29-1161            1
51-3092            1
Name: count, Length: 866, dtype: int64

Column: JOB_TITLE
JOB_TITLE
PROGRAMMER ANALYST                               41003
SOFTWARE ENGINEER                                27645
SOFTWARE DEVELOPER                               26613
SYSTEMS ANALYST                                  10915
DEVELOPER                                        10227
                                                 ...
SYSTEM ADMINISTRATION AND APPLICATION SUPPORT        1
ORACLE IDENTITY MANAGEMENT CONSULTANT                1
SCADA MUNICIPAL SOFTWARE ENGINEER                    1
CONSULTANT CIVIL DESIGN ENGINEER                     1
DIGITAL TOUCHPOINTS ANALYST                          1
Name: count, Length: 111349, dtype: int64

Column: FULL_TIME_POSITION
FULL_TIME_POSITION
Y    704863
N    152292
Name: count, dtype: int64

Column: WORKSITE_CITY
WORKSITE_CITY
NEW YORK                       171378
CHICAGO                         52997
PHILADELPHIA                    24795
COLUMBUS                        21677
New York                        20881
                                ...
CHICAGO, IL 60654                   1
CEDAR PARK                          1
P.O. BOX 2053                       1
#19804 DETROIT MI METRO DIV         1
Mattituck                           1
Name: count, Length: 7999, dtype: int64

Column: WORKSITE_STATE_ABB
WORKSITE_STATE_ABB
NY              230901
IL              134337
PA               94998
MI               82788
OH               65208
NEWYORK          50180
MN               42062
ILLINOIS         28749
WI               27644
IN               26089
PENNSYLVANIA     19696
MICHIGAN         18127
OHIO             14418
MINNESOTA         9169
INDIANA           6700
WISCONSIN         6089
Name: count, dtype: int64

Column: WORKSITE_STATE_FULL
WORKSITE_STATE_FULL
NEW YORK        281081
ILLINOIS        163086
PENNSYLVANIA    114694
MICHIGAN        100915
OHIO             79626
MINNESOTA        51231
WISCONSIN        33733
INDIANA          32789
Name: count, dtype: int64

In [32]:
# Save the DataFrame to a new CSV file
csv_filename = "cleaned_h1b.csv"
df.to_csv(csv_filename, index=False)  # Save without row indices

csv_filename  # Return the path to the saved CSV file

'cleaned_h1b.csv'